.nav-link {
    color: #ccc;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: color 0.3s, background 0.3s;
}

.nav-link:hover {
    color: #fff;
    background: #333;
    border-radius: 5px;
}

.nav-link.active {
    color: #fff !important;
    background: #333 !important;
    font-weight: bold;
    border-radius: 5px;
}
